.dashboardCards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

margin-top:25px;

}

.cardSistema{

background:white;

border-radius:18px;

padding:25px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

display:flex;

align-items:center;

gap:20px;

cursor:pointer;

}

.cardSistema:hover{

transform:translateY(-6px);

}

.cardSistema i{

font-size:45px;

color:#0b5ed7;

}

.cardSistema h2{

margin:0;

font-size:34px;

}

.cardSistema p{

margin-top:8px;

color:#666;

}
