body{

margin:0;

background:#eef3f8;

font-family:Arial,sans-serif;

}


main{

margin-left:260px;

padding:30px;

}



.top{

display:flex;

justify-content:space-between;

align-items:center;

}



.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-top:30px;

}



.card{

background:white;

padding:25px;

border-radius:15px;

display:flex;

gap:20px;

align-items:center;

box-shadow:0 5px 15px #ddd;

}


.card i{

font-size:35px;

color:#0d6efd;

}



.card strong{

font-size:35px;

}



.verde i{

color:green;

}


.amarelo i{

color:#eab308;

}


.vermelho i{

color:red;

}



.graficos{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-top:30px;

}



.grafico{

background:white;

padding:25px;

border-radius:15px;

}



.tabela{

background:white;

padding:25px;

margin-top:30px;

border-radius:15px;

}



table{

width:100%;

border-collapse:collapse;

}



td,th{

padding:15px;

border-bottom:1px solid #ddd;

}


.verdeTexto{

color:green;

}


.amareloTexto{

color:#eab308;

}
