body{

margin:0;

font-family:Arial,sans-serif;

background:#eef3f8;

}

main{

margin-left:260px;

padding:25px;

height:100vh;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

header h1{

color:#0b2447;

}

.status{

display:flex;

align-items:center;

gap:10px;

font-weight:bold;

}

.online{

width:12px;

height:12px;

background:#22c55e;

border-radius:50%;

}

#mapa{

width:100%;

height:82vh;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

}
